:root{
    --background-dark: #313331;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 62.5%;
}
li{
    list-style: none;
}
a{
    color: #000;
}
button{
    background: none;
    border: none;
}
input{outline: none;}
/* --------- header ----------*/

.header-container{
    display: flex;
    /* padding-top: 20px; */
    background-color: #810c08;
}
nav{
    display: inline-block;
    height: 40px;
    width: 100vw;
    padding: 10px 0;
    margin-bottom: 5px;
}
.logo{
    padding-left: 3%;
    
}
.icon-bars{
    float: right;
    padding-right: 3%;
    font-size: 2rem;
    cursor: pointer;
    
}
.nav-list-container{
    opacity: 0;
    position: fixed;
    left: -600px;
    padding: 0;
    /* margin-top: 26px; */
    background-color: #e2e2e2;
    width: 100%;
    font-size: 2rem;
    padding: 0 3%;
    transition: 0.5s;
    
}
.nav-list-container li{
    padding: 30px 0;
    text-align: center;
    border-bottom: solid 1px #000;
    font-weight: bold;
}
.nav-list-container li a{
    color: #3f443f;
}
.nav-list-container.active{
    opacity: 1;
    left: 0;
}
.logo img{
    width: 150px;
    margin-bottom: 5px;
}
.header-input-search-container, .header-input-search-container--long{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 30px;
}
.header-input-search-container--long{
    margin-top: 15px;
    margin-left: 10px;
} 
.header-input-search, .header-input-search--long{
    width: 70%;
    padding: 5px 10px;
    border-radius: 16px;
    /* border: solid 1px #810c08; */
    border: none;
    box-shadow: inset 1px 2px 7px 0px #3f443f;
}
.back-arrow{
    font-size: 4rem;
    font-weight: bolder;
    z-index: 1;
    position: fixed;
    left: 5%;
    cursor: pointer;
    color: #c1c1c163;

}
.header-container--long{
    padding: 0 3%;
    width: 100%;
    background-image: url('https://www.egames.news/__export/1638809435218/sites/debate/img/2021/12/06/cxmo_conseguir_a_charmanderx_charmeleonx_charizard_en_pokxmon_diamante_brillante_y_perla_reluciente.jpg_242310155.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    position: fixed;
}
.changePokemon-button{
    font-size: 4rem;
    color: #c1c1c163;
    cursor: pointer;
    margin-top: 150px;
}
.previousPokemon{
    float: left;
}
.nextPokemon{
    float: right;
}
/* --------- pokemon card ----------*/

.pokemon-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 3%;
    background-color: var(--background-dark);
}
.pokemon-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url('https://www.egames.news/__export/1638809435218/sites/debate/img/2021/12/06/cxmo_conseguir_a_charmanderx_charmeleonx_charizard_en_pokxmon_diamante_brillante_y_perla_reluciente.jpg_242310155.jpg');
    width: 125px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
}
.pokemon-cards--name{
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    align-self: flex-end;
}

/* ------------------ pokemon details section ----------------- */

.pokemon-details-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 100vw;
    margin-top: 403px;
    position: absolute;
    z-index: 1;
    background-color: rgb(245, 245, 245);
    color: #000;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.pokemon-details-name{
    text-align: center;
    font-size: 3rem;
    margin: 20px 0;
}
.pokemon-info-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    align-content: center;
}
.pokemon-element-container{
    display: flex;
    width: 90%;
    justify-content: space-around;
}
.pokemon-element-container .element{
    border-radius: 50px;
    width: 75px;
    background-color: var(--idColor);
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: bold;
}

#normal{ --idColor: #c2c0b4}
#fighting{ --idColor: #80321d}
#flying{ --idColor: #93a4f0}
#poison{ --idColor: #7c337d}
#ground{ --idColor: #d2b056}
#rock{ --idColor: #a78e46}
#bug{ --idColor: #9eaf1a}
#ghost{ --idColor: #5a59a8}
#steel{ --idColor: #9796a6}
#fire{ --idColor: #df3507}
#water{ --idColor: #3192f6}
#grass{ --idColor: #6cbc30}
#electric{ --idColor: #f7b212}
#psychic{ --idColor: #e9477e}
#ice{ --idColor: #79d9f6}
#dragon{ --idColor: #725cd7}
#dark{ --idColor: #4b362a}
#fairy{ --idColor: #e79ce8}
#unknown{ --idColor: #7a7b6d}
#shadow{ --idColor: #1c100b}





.pokemon-attributes-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.pokemon-attributes-container .numbers{
    font-size: 2rem;
}
.pokemon-baseStats-title{
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 20px;
}
.pokemon-baseStats-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 400px;
    color: #fff;
    background-color: #313331;
    padding: 10px;
    border-radius: 16px;
    font-size: 1.6rem;
}
.pokemon-baseStats-list progress{
    float: right;
    height: 20px;
    
    
}

/* ------------------ navigation ------------------- */

.inactive{
    display: none;
}